.config/yazi/flavors/
.config/.emacs.d/auto-save-list
.config/.emacs.d/eln-cache
.config/.emacs.d/straight
.config/.emacs.d/themes
.config/.emacs.d/transient
.config/.emacs.d/history
.config/.emacs.d/recentf
.config/.emacs.d/tree-sitter
